/build
/dist
build/SlidoGetQuestion/Analysis-00.toc
build/SlidoGetQuestion/base_library.zip
build/SlidoGetQuestion/EXE-00.toc
build/SlidoGetQuestion/PKG-00.toc
build/SlidoGetQuestion/PYZ-00.pyz
build/SlidoGetQuestion/PYZ-00.toc
build/SlidoGetQuestion/SlidoGetQuestion.exe.manifest
build/SlidoGetQuestion/SlidoGetQuestion.pkg
build/SlidoGetQuestion/Tree-00.toc
build/SlidoGetQuestion/Tree-01.toc
build/SlidoGetQuestion/Tree-02.toc
build/SlidoGetQuestion/warn-SlidoGetQuestion.txt
build/SlidoGetQuestion/xref-SlidoGetQuestion.html
build/SlidoGetQuestion/localpycs/pyimod01_archive.pyc
build/SlidoGetQuestion/localpycs/pyimod02_importers.pyc
build/SlidoGetQuestion/localpycs/pyimod03_ctypes.pyc
build/SlidoGetQuestion/localpycs/pyimod04_pywin32.pyc
build/SlidoGetQuestion/localpycs/struct.pyc
